body{ padding: 0; margin: 0 0 10px 0; }
#canvas{ border: 1px solid #ccc; }
#list{ list-style-type: none; padding: 0; margin: 0; }
.color{ display: inline-block; width: 100px; height: 20px; border: 1px solid #fff; }
